In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import nltk
%matplotlib inline

In [5]:
# Read the raw text files
austenRaw = open('data/austen.txt').read().lower()
melvilleRaw = open('data/melville.txt').read().lower()

In [6]:
austenRaw[:10] + melvilleRaw[:10]

'\ufeff\npride an\n\n\nmoby di'

In [7]:
meltokens = nltk.tokenize.word_tokenize(melvilleRaw)
austokens = nltk.tokenize.word_tokenize(austenRaw)

In [19]:
#remove punctuation
import string
meltokens = [word for word in meltokens if word.isalpha()]
austokens = [word for word in austokens if word.isalpha()]

In [20]:
def pieces(text, length, num): 
    out = [] 
    for x in range(num): 
        out.append(text[length*x:length*(x+1)])
    return out

#mel_pieces = [text1[:1000], text1[1001:2000, text1[2001:3000], text1[3001:4000]]

melpieces = pieces(meltokens, 1000, 4)
auspieces = pieces(austokens, 1000, 4)

In [21]:
def freqdists(pieceslist): 
    dists=[]
    for piece in pieceslist: 
        dists.append(nltk.FreqDist(piece).most_common())
    return dists

meldists = freqdists(melpieces)
ausdists = freqdists(auspieces)

In [25]:
meldists[0][:10]

[('the', 57),
 ('and', 33),
 ('of', 33),
 ('to', 25),
 ('in', 18),
 ('a', 17),
 ('that', 16),
 ('whale', 12),
 ('his', 12),
 ('is', 10)]

In [39]:
mdf1 = pd.DataFrame(meldists[0], columns=['word', 'mel1'])
mdf1 = pd.DataFrame(meldists[0], columns=['word', 'mel1'])
mdf1 = pd.DataFrame(meldists[0], columns=['word', 'mel1'])
mdf1 = pd.DataFrame(meldists[0], columns=['word', 'mel1'])

In [43]:
def makeDataFrame(piece, label):
    return pd.DataFrame(piece, columns=['word', label])

In [55]:
dfs = []
for idx, val in enumerate(meldists): 
    dfs.append(makeDataFrame(val, 'mel'+str(idx)))

In [67]:
for df in dfs[1:]: 
    dfs[0] = pd.merge(dfs[0], df, how='outer', on='word')

In [71]:
dfs[0]['word']

0                  the
1                  and
2                   of
3                   to
4                   in
5                    a
6                 that
7                whale
8                  his
9                   is
10                  or
11                 for
12                  it
13                  by
14                  he
15                  as
16                this
17               great
18               which
19                with
20           leviathan
21              whales
22                  be
23                  ye
24                 him
25                  up
26                 had
27                take
28                 one
29                 all
             ...
1442       unpublished
1443            female
1444           extreme
1445            mystic
1446             short
1447    circumambulate
1448           forward
1449             india
1450              seem
1451          mutineer
1452        reciprocal
1453             north
1454           brother
1455            virtue
1456           sabbath
1457         biography
1458             reefs
1459              east
1460            pistol
1461             storm
1462            fields
1463          coenties
1464          american
1465        naturalist
1466            arches
1467          gateways
1468             still
1469         waterward
1470            yonder
1471             isles
Name: word, dtype: object

In [62]:
list[1:]

['bananas', 'oranges']